@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
}

.perfil{
    padding: 2% 2% 1% 5%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    box-sizing: border-box;
}

.perfil__titulo{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    color:black;
    font-weight: 10;
}

.perfil__informacoes{
    border: 1px solid #000000;
    border-radius: 15px;
    padding: 5% 5%;
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.perfil__informacoes__container{
    display: flex;
    justify-content: space-between;
}

.perfil__informacoes__container__cliente{
    display:flex;
    flex-direction: column;
    gap: 20px;
}

.perfil__informacoes__container__cliente__informacao{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color:black;
    font-weight: 10;
}

.perfil__imagem{
    width: 150px;
    height: 150px;
}

.perfil__informacoes__container__acoes{
    display: flex;
    justify-content: space-around;
}

.perfil__acoes__excluir{
    background-color: #D8D9DA;
    justify-content: center;
    display: flex;
    width: 300px;
    height: 10px;
    text-align: center;
    border-radius: 15px;
    font-size: 15px;
    font-weight: 600;
    padding: 21.5px 21.5px 21.5px 21.5px;
    text-decoration: none;
    color: #537FE7;
    font-family: 'Montserrat', sans-serif;
}

.perfil__acoes__alterar{
    background-color: #537FE7;
    width: 300px;
    height: 10px;
    text-align: center;
    border-radius: 15px;
    font-size: 15px;
    font-weight: 600;
    padding: 21.5px 21.5px 21.5px 21.5px;
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
}

.busca__clientes{
    padding: 3% 3%;
    display: flex;
    align-items: center;
}

.buscar__cliente{
    border-radius: 20px;
    width: 200px;
    height: 30px;
    font-family: 'Krona One', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #000000;
    border: none;
    padding: 5px 30px;
    display: flex;
    gap: 10px;
}

.barra__pesquisa{
    border-radius: 20px;
    width: 200px;
    height: 30px;
    font-family: 'Krona One', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #000000;
    border: 1px solid #000000;
    padding: 5px 30px;
}

.botao__pesquisar__lupa{
    width: 30px;
    height: 30px;
}

.select__filtro__busca__cliente{
    background-color: #D8D9DA;
    justify-content: center;
    display: flex;
    gap: 16px; 
    height: 40px;
    width: 100px;
    text-align: center;
    border-radius: 15px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: #537FE7;
    font-family: 'Montserrat', sans-serif;
}

.perfil__acoes__excluir:hover{
	 background-color: #9BABB8;
}

.perfil__acoes__alterar:hover{
    background-color: #4E4FEB;
}

.cliente__cadastro__titulo{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 10;
    color: #000000;
}