@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
}

.pedidos__lista__produtos{
    padding: 2% 2% 1% 5%;
    width: 95%;
}

.pedidos__lista__header{
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-align: left;
    padding: 25px 40px;
}

.titulo__destaque{
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;

}

.pedidos__lista__informacoes{
    display: flex;
    justify-content: space-around;
    border: 1px solid #000000; 
    color:#000000;
    padding: 15px 15px;
    gap: 30px;
    border-radius: 15px;
    font-family: 'Montserrat', sans-serif;
}

.busca__pedido{
    padding: 3% 3%;
    display: flex;
    align-items: center;
}

.buscar__pedido{
    border-radius: 20px;
    width: 200px;
    height: 30px;
    font-family: 'Krona One', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #000000;
    border: none;
    padding: 5px 30px;
    display: flex;
    gap: 10px;
}

.barra__pesquisa{
    border-radius: 20px;
    width: 200px;
    height: 30px;
    font-family: 'Krona One', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #000000;
    border: 1px solid #000000;
    padding: 5px 30px;
}

.botao__pesquisar__lupa{
    width: 30px;
    height: 30px;
}

.select__filtro__busca__pedido{
    background-color: #D8D9DA;
    justify-content: center;
    display: flex;
    gap: 16px; 
    height: 40px;
    width: 100px;
    text-align: center;
    border-radius: 15px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: #537FE7;
    font-family: 'Montserrat', sans-serif;
}


.pedidos__lista__informacoes__produtos{
    display: flex;
    flex-direction: column;
    color:#000000;
    padding: 5px 5px;
    gap: 30px;
}

.pedidos__lista__informacoes__dados{
    display: flex;
    flex-direction: column;
    color:#000000;
    padding: 5px 5px;
    gap: 30px;
}

.pedidos__lista__informacoes__acoes{
    display: flex;
    padding: 50px 20px;
    align-items: center;
    gap: 40px;
    border-radius: 15px;
    flex-direction: column;
}

.pedidos__lista__informacoes__acoes__ver__pedido{
    background-color: #D8D9DA;
    width: 200px;
    height: 10px;
    text-align: center;
    border-radius: 15px;
    font-size: 15px;
    font-weight: 600;
    padding: 21.5px 21.5px;
    text-decoration: none;
    color: #537FE7;
    font-family: 'Montserrat', sans-serif;
}

.pedidos__lista__informacoes__acoes__trocar__pedido{
    background-color: #D8D9DA;
    justify-content: center;
    display: flex;
    width: 200px;
    height: 10px;
    text-align: center;
    border-radius: 15px;
    font-size: 15px;
    font-weight: 600;
    padding: 21.5px 21.5px;
    text-decoration: none;
    color: #537FE7;
    font-family: 'Montserrat', sans-serif;
}

.pedidos__lista__informacoes__acoes__trocar__pedido:hover{
     background-color: #9BABB8; 
}

.pedidos__lista__informacoes__acoes__ver__pedido:hover{
    background-color: #9BABB8; 
}

/* .compras__lista__produtos__produto__titulo__destaque{
    
} */

.rodape{
    padding: 10px 21.5px;
    color: #000000;
    background-color: #537FE7;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    text-align: center;
    font-weight: 400;
}