@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    /* height: 100vh; */
    background-color: #FFFFFF;
    color: #FFFFFF;
}

.cabecalho{
    padding: 2% 2% 1% 5%;
    background-color:#537FE7;
    display: flex;
    justify-content: space-between;
}

.titulo__site{
    font-family: 'Krona One', sans-serif;
    font-size: 40px;
    font-weight: 600;

}
.barra_pesquisa{
    border-radius: 20px;
    width: 200px;
    height: 30px;
    font-family: 'Krona One', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #FFFFFF;
    border: none;
    padding: 5px 30px;
}

.botao__pesquisar{
    border-radius: 20px;
    width: 50px;
    height: 30px;
    background-color: transparent;
    font-size: 15px;
    font-weight: 600;
    border: none;
}

.botao__pesquisar__lupa{
    width: 20px;
    height: 20px;
}

.cabecalho__menu{
    display: flex;
    gap: 50px;
}

.cabecalho__menu__link{
    font-family: 'Krona One', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #FFFFFF;
}

.cabecalho__menu__icones{
    width: 35px;
    height: 35px;
}

.produto{
	padding: 5% 5%;
    align-items: center;
}

.produto__imagem{
    width: 400px; 
    height: 400px;
}

.produto__venda{
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    border-radius: 15px;
    border: 1px solid #000000; 
    padding: 20px 20px;
}

.produto__nome{
    font-size: 25px;
    font-family: 'Krona One', sans-serif;
}

.titulo__destaque{
    color: #000000;
}

.produto__preco{
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    color: #000000;
}

.produto__preco__destaque{
    color: #4E4FEB;
}

.produto__quantidade{
    display: flex;
    align-items: center;
    gap: 16px; 
}

.produto__selecao__unidade{
     border-radius: 20px;
    width: 100px;
    height: 40px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #000000;
    border: 2px solid #000000;
    padding: 5px 30px;
}



.produto__quantidade__unidades{
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    color: #000000;
}

/* .apresentacao__conteudo__texto{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
} */

.produto__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

/* .apresentacao__links__subtitulo{
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    font-size: 24px;
} */

.produto__links__compra{
    background-color: #537FE7;
    display: block;
    margin: 20px auto 0;
    border: none;
    cursor: pointer;
    width: 380px;
    height: 60px; /* Ajustei a altura para melhor visualização */
    text-align: center;
    border-radius: 15px;
    font-size: 24px;
    font-weight: 600;
    padding: 5px 21.5px; /* Ajustei o padding vertical para melhor visualização */
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
}

.produto__links__adiciona__carrinho{
    background-color: #D8D9DA;
    display: block;
    margin: 20px auto 0;
    border: none;
    cursor: pointer;
    width: 380px;
    height: 60px; /* Ajustei a altura para melhor visualização */
    text-align: center;
    border-radius: 15px;
    font-size: 24px;
    font-weight: 600;
    padding: 5px 21.5px; /* Ajustei o padding vertical para melhor visualização */
    text-decoration: none;
    color: #537FE7;
    font-family: 'Montserrat', sans-serif;
}

.produto__links__compra:hover{
    background-color: #4E4FEB; 
}

.produto__links__adiciona__carrinho:hover{
     background-color: #9BABB8; 
}

.produto__vitrine{
	padding: 5% 5% 5% 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
}

.produto__tabela__informacoes{
    display: flex;
    padding: 5% 5%;
    align-items: center;
}

.tabela__livro {
  border-collapse: collapse;
  border: 1px solid #000000;
  border-radius: 15px;
  width: 100%;
}

.tabela__livro th {
  background-color: #537FE7;
  text-align: left;	
  padding: 10px 15px;
  color: #FFFFFF;
  font-size: 25px;
  font-family: 'Krona One', sans-serif;
  font-weight: 600;
}

.tabela__livro td { 
  text-align: left;
  padding: 10px 15px;
  color: #000000;
  border: 1px solid #000000;
  font-size: 22px;
  font-family: 'Montserrat', sans-serif;
}


