@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
}

.produto{
    padding: 5% 15%;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    gap: 150px;
}

.produto__imagem{
    width: 400px; 
    height: 400px;
}

.grafico{
    padding: 5% 15%;
    display: flex;
    gap: 40px;
}

.pagamento__selecao{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.pagamento__produto__metodos{
    width: 70%;
    height: 50%;
    gap: 40px;
    padding: 21.5px 21.5px;
}

.pagamento__selecao__opcao{
    height: 30px;
    width: 500px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    padding: 21.5px 21.5px;
    border: 1px solid #000000;
    font-weight: 10;
}

.pagina__grafico__formulario{
	gap: 30px;
}

.calendario_label{
  display: inline-block;
  color: #000000;
  position: relative;
  margin-bottom: 5px;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  font-size: 15px;
}

.pagina__grafico__titulos{
  display: inline-block;
  color: #000000;
  position: relative;
  margin-bottom: 5px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 50;
  font-size: 20px;
}

.pagina__grafico__inputs{
    border-radius: 20px;
    width: 200px;
    height: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #000000;
    border: 1px solid #D8D9DA;
    padding: 5px 30px;
}

.grafico__grafico{
	width: 600px;
    height: 300px;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #ccc;
    border-radius: 5px;
  }

/* Estilizando o marcador da caixa de seleção */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #ccc;
    border-radius: 100px;
  }
  
  /* Alterando a aparência do marcador quando a caixa de seleção estiver marcada */
  .pagamento__selecao__opcao__seletor input[type="checkbox"]:checked + .checkmark {
    background-color: #2196F3;
  }
  
  /* Ocultando a caixa de seleção padrão */
  .pagamento__selecao__opcao__seletor input[type="checkbox"] {
    display: none;
  }
  
  /* Estilizando o texto ao lado da caixa de seleção */
  .pagamento__selecao__opcao__seletor:hover {
    color: #2196F3;
  }  

.gerar__grafico {
    background-color: #537FE7;
    display: block;
    margin: 20px auto 0;
    border: none;
    cursor: pointer;
    width: 200px;
    height: 40px; /* Ajustei a altura para melhor visualização */
    text-align: center;
    border-radius: 15px;
    font-size: 15px;
    font-weight: 600;
    padding: 5px 21.5px; /* Ajustei o padding vertical para melhor visualização */
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
}

.pagamento__selecao__confirmar:hover{
    background-color: #4E4FEB; 
}

.descricao__produto{
    display: flex;
    height: 60%;
    width: 100%;
    flex-direction: column;
    font-size: 24px;    
    padding: 25px 40px;
    border: 1px solid #000000;
    border-radius: 15px;
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    gap: 20px;
}

.resumo__compra__preco{
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px; 
}

.pagamento__produto__imagem{
    height: 200px;
    width: 200px;
}

.resumo__compra{
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    white-space: nowrap;
}

.resumo__compra__produto{
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.resumo__compra__produto{
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.resumo__compra__quantidade{
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.pagamento__adiciona__metodo{
    background-color: #FFFFFF;
    display: block;
    margin: 20px auto 0;
    border: 1px solid #000000;
    cursor: pointer;
    width: 300px;
    height: 20px; /* Ajustei a altura para melhor visualização */
    text-align: start;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 10;
    padding: 10px 21.5px; /* Ajustei o padding vertical para melhor visualização */
    text-decoration: none;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
}

.pagamento__adiciona__cupom{
    background-color: #FFFFFF;
    display: block;
    margin: 20px auto 0;
    border: 1px solid #000000;
    cursor: pointer;
    width: 300px;
    height: 20px; /* Ajustei a altura para melhor visualização */
    text-align: start;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 10;
    padding: 10px 21.5px; /* Ajustei o padding vertical para melhor visualização */
    text-decoration: none;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
}

.pagamento__acoes{
    gap: 2px;
}

.imagem__adicionar{
    width: 20px;
    height: 20px;
    
}

.rodape{
    padding: 10px 21.5px;
    color: #000000;
    background-color: #537FE7;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    text-align: center;
    font-weight: 400;
}